torch==2.1.1
torchaudio==2.1.1
pytorch-lightning==1.7.7
python-dotenv
hydra-core
hydra-colorlog
wandb
einops
omegaconf
rich
plotly
librosa==0.8.1
transformers==4.30.2
sentencepiece
webdataset
frechet_audio_distance
torchmetrics==0.11.4
typing_extensions==4.8.0
anyio==3.7.1
scikit-learn
diffusers
accelerate
sounddevice